@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Kode+Mono:100,200,300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --body: #F8F8FF;
  --header: #EE5BC4;
  --footer: #262B32;
  --card: #FEFEFA;
  --icon: #F5FFFA;
  --text: #090C11;
  --logo: #fffafb;
  --theme: #BD22A3;
  --whatsapp: #25d366;
  --font: "Inter", sans-serif;
  --font2: "Poppins", sans-serif;

  --header2: #EE5BC4;
  --shadow3: 0 1rem 4rem #424141;
  --nave2: #353a3e;
}

[data-theme="dark"] {
  --body: #262B32;
  --header: #BD22A3;
  --footer: #090C11;
  --card: #353a3e;
  --text: #F5FFFA;
  --theme: #F5FFFA;
  
  --header2: #EE5BC4;
}

::-webkit-scrollbar {
  width: .8em;
  background-color: var(--body);
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: var(--header);
  border: 2px solid var(--body);
  border-radius: 1em;
}

#HomeApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  gap: 2rem;

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text);
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--text);
  }

  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    padding: 0;
  }

  nav ul li {
    display: flex;
    width: 90%;
    border-radius: 1rem;
    background-color: #321951;
    transition: all 0.3s ease-in-out;
  }

  nav ul li:hover {
    background-color: #f68318;
    transform: scale(1.05);
  }

  a {
    font-family: "Inter", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    color: var(--icon);
    width: 100%;
    height: 100%;
    padding: 3rem;
    border-radius: 1rem;
  }
}

#root {
  display: grid;
  grid-template-rows: 1fr auto 200px;
  height: 100vh;
  font-size: 16px;
  font-family: var(--font);
  background: var(--body);
  gap: 2rem;
  color: var(--text);
  margin: 0;
  overflow-x: hidden;
}

#root,
#footer1,
#footer2,
a,
button {
  transition: all 0.3s ease-in-out;
}

noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--body);
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 500;
}