/* ======== Model1 ======== */

[data-theme="light"] #header1 #theme .light {
  display: none;
}

[data-theme="dark"] #header1 #theme .dark {
  display: none;
}

#header1 {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 2.5rem;
  backdrop-filter: blur(60px);
  background-color: var(--header);
  opacity: 97%;
  box-shadow: 0 .2em .5em rgba(0, 0, 0, 30%);
  transition: transform .3s ease-in-out;
  z-index: 10;

  nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul a {
    color: var(--icon);
    text-decoration: none;
  }

  nav ul a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  #whatsapp {
    transition: all 0.3s ease-in-out;
  }

  #logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    gap: .3rem;
    color: var(--logo);
  }

  #logo svg {
    width: 2rem;
    height: fit-content;
    fill: var(--logo);
  }

  #whatsapp {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .4rem 1rem;
    gap: .3rem;
    background: var(--whatsapp);
    color: var(--icon);
    border-radius: 2rem;
    cursor: pointer;
  }

  #whatsapp ion-icon {
    font-size: 2rem;
    background: transparent;
  }

  #whatsapp:hover {
    opacity: 0.8;
  }

  #theme {
    font-size: 1rem;
    border-radius: 2rem;
    background: transparent;
    cursor: pointer;
  }

  #theme button {
    display: flex;
    font-size: 2rem;
    border: none;
    padding: .2rem;
    background: transparent;
    color: var(--icon);
  }

  #theme button:hover {
    transform: rotate(280deg);
  }

  #open-menu,
  #close-menu {
    display: none;
  }
}

#main1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem 0 2rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #whatsapp-mobile {
    display: none;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: 9;
  }

  .slider-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
  }

  .slider-track img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .text {
    font-weight: bold;
    color: var(--icon);
    mix-blend-mode: difference;
    pointer-events: none;
  }

  .slide .content {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 0 2.5rem;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .slide .content:hover {
    opacity: 1;

    & button {
      font-size: 2.5rem;
      padding: .5rem;
    }
  }

  .slide .content button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    padding: 0rem;
    border-radius: .5em;
    border: none;
    background: var(--icon);
    opacity: 30%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .slide .content button:hover {
    opacity: 80%;
  }

  .slide .overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 7rem;
    color: var(--body);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .overlay #link {
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.7em;
    background: var(--icon);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    color: var(--footer);
    cursor: pointer;
    z-index: 8;
  }

  .overlay #link:hover {
    opacity: 0.8;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1.5rem;
    padding: 0 3rem;
    justify-content: center;
  }

  .card {
    background: var(--card);
    color: var(--text);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333% - 20px);
    min-width: 250px;
    padding: 1rem;
    transition: transform 0.3s;
  }

  .card img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .card h3 {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card .volumes {
    display: flex;
    gap: 0.6em;
    padding: 0 1rem;
    padding-bottom: 10px;
  }

  .card .volumes span {
    background: var(--header);
    color: var(--icon);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    left: 0;
    cursor: pointer;
  }

  .card .description {
    padding: 0 15px 15px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
  }

  .card:hover {
    transform: translateY(-5px);
  }
}

#footer1 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  position: relative;
  width: 100%;
  padding: 2rem;
  background: var(--footer);
  color: var(--icon);
  bottom: 0;

  p {
    font-family: var(--font);
  }

  nav h2 {
    font-size: 1.3rem;
    text-align: start;
    padding-bottom: 1rem;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul a {
    display: flex;
    gap: 0.2em;
    text-align: left;
    align-items: center;
    color: var(--icon);
    text-decoration: none;
  }

  nav ul a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  #navigation {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  body {
    gap: 1rem;
  }

  #header1 {
    padding: 0 1.5rem;

    nav ul {
      font-size: 1rem;
      gap: 1rem;
    }

    #logo {
      font-size: 1.5rem;
    }

    #whatsapp {
      display: none;
    }

    #theme button {
      font-size: 1.5rem;
    }
  }

  #main1 #whatsapp-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 2rem;
    padding: 0.7rem;
    border-radius: 50%;
    right: 1rem;
    background: var(--whatsapp);
    color: var(--icon);
    cursor: pointer;
    z-index: 10;
  }
}

@media (max-width: 768px) {

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  body.no-scroll {
    overflow: hidden;
  }

  #root {
    gap: 0;
  }

  #header1 {
    padding: 0 1rem;
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
    position: relative;

    nav {
      order: 1;
      display: none;
    }

    #logo {
      order: 2;
      font-weight: bold;
      color: var(--header);
    }

    #logo svg {
      width: 2rem;
      height: fit-content;
      fill: var(--header);
    }

    #theme {
      order: 3;
    }

    #theme button {
      color: var(--theme);
    }

    #whatsapp {
      display: none;
    }

    .mobile-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: var(--footer);
      justify-content: start;
      align-items: flex-end;
      padding: 1rem;
      flex-direction: column;
      z-index: 7;
      overflow: auto;
    }

    .mobile-menu.active {
      display: flex;
      overflow: auto;
    }

    .mobile-menu ul {
      width: 100%;
      padding: 0 3rem;
      align-items: start;
      gap: 2rem;
      flex-direction: column;
      display: flex;
    }

    #close-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      border: none;
      color: var(--icon);
      background: transparent;
      height: fit-content;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    #open-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.2rem;
      border: none;
      border-radius: 0.6rem;
      padding: 0.3rem;
      background: var(--header);
      color: var(--icon);
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }

  #main1 {
    margin-top: 0;

    #whatsapp-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      font-size: 2.2rem;
      padding: .7rem;
      border-radius: 50%;
      right: .3rem;
      top: 60vh;
      background: var(--whatsapp);
      color: var(--icon);
      cursor: pointer;
      z-index: 7;
    }

    .slide {
      min-height: 580px;
      height: auto;
    }

    .slide .overlay {
      padding: 1.5rem;
      font-size: 1rem;
      justify-content: space-between;
    }

    .slide .content {
      padding: 0 1rem;
    }

    .slide .content:hover {

      & button {
        font-size: 2rem;
        padding: .5rem;
      }
    }

    .card-container {
      padding: 0 1rem;
    }

    .card {
      flex: 1 1 100%;
      width: 100%;
      height: 40rem;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .card img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    .card h3 {
      font-size: 1.1rem;
      margin: 0.5rem 1rem 0;
    }

    .card .volumes {
      padding: 0 1rem;
      margin: 0.5rem 0;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    .card .description {
      padding: 0 1rem 1rem;
      font-size: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  #footer1 {
    padding: 5rem 0 8rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    gap: 2rem;
    padding-bottom: calc(20rem + 20vh);
    height: auto;
    overflow: hidden;

    nav ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    nav h2 {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      padding-bottom: 0;
      padding-top: 1rem;
    }

    #copy {
      order: 3;
    }

    #about {
      order: 1;
    }

    #social {
      order: 2;
    }

    #navigation {
      display: flex;
      position: fixed;
      margin: 0 auto;
      width: 100%;
      background: var(--header);
      color: var(--body);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
    }

    #navigation ul {
      display: flex;
      padding: 1rem;
      flex-direction: row;
      font-size: 1.8rem;
      width: 100%;
      justify-content: space-around;
      margin: 0;
    }

    #navigation ul a:hover {
      transform: translateY(-4px);
    }
  }
}

@media (max-width: 1024px) {
  #main1 .card {
    width: calc(50% - 20px);
  }
}